/* Main Page Style */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
#fixedheader{
  font-family: 'Quicksand', sans-serif;
  background-color: #DCD0c0;
  border: 5px solid white;
  text-align: center;
}

#links {
  color: #c0B283;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

#header h1 {
    font-size: 75px;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #BC8F8F;
}

#content {
  margin: 10px;
  background-color: #DCD0c0;
  border: 5px solid white;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}
