@import url('https://fonts.googleapis.com/css?family=Quicksand');
#header {
  font-family: 'Quicksand', sans-serif;
  background-color: #DCD0c0;
  border: 5px solid white;
  text-align: center;
}

#header_text {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

#header h1 {
    font-size: 75px;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url("photos/wood.jpg");
}
#bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  text-align: center;
}

#topleft{
  margin-left: 0px;
  margin: 30px;
}

#topright {
  display: flex;
  flex-direction: row;
  color: #c0B283;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}

.box{
  margin-bottom: -10px;
  margin: 10px;
  background-color: #DCD0c0;
  border: 5px solid white;
  height: 250px;
  width: 250px;
  border-radius: 75%;
  justify-content: center;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  margin-left: 7%;
  margin-right: 7%;
}

#left_content{
  flex-shrink: 1.5;
  margin-right: 2%;
}

.pic{
  border-radius: 75%;
}

.post{
  margin-right: 200px;
  width: 140%;
  border: 5px solid white;
  border-style: double;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #c0B283;
  font-family: 'Quicksand', sans-serif;
  background-color: #DCD0c0;
  font-size: 40px;
  text-align: center;
}

.post p, ol, ul{
  text-align: left;
}

#list {
  display: inline;
}

#right{
  margin-left: 10%;
  margin-right: 8%;
  width: 40%;
}
