<!DOCTYPE html>
<html>
<head>
  <title> Main </title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link rel= "stylesheet" href="/resources/mainpage.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/resources/checklist.js"></script>
</head>

<body>
<div id="fixedheader">
  <div id="header">
    <h1> #Goals </h1>
  </div>

  <div id="links">
  <p>
    <a href= "create_profile"> My Profile </a>
    &nbsp;|&nbsp;
    <a href= "feed"> Feed </a>
  </div>

</div>


<div id= "content" >

  <button id="add_item">+</button>
  <button id="remove_item">-</button>

  <form method="POST" action="/create_goal">
    <div id="check_list">
      <div class="list_item">
        <h3>What do you want to accomplish today? <input type="text" name="goal"></h3>
        <h3>How long do you want to spend on this? (Hours) <input type="number" name="hour" min="0" max="12"></h3>
        <h3>How long do you want to spend on this? (Minutes) <input type="number" name="minutes" min="0" max="59"></h3>
        <h3>Date? <input type = "date" name = "day_of_goal"></h3>
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>

</div>
</body>
</html>
