<!DOCTYPE html>
<html>
<head>
  <title> My Profile </title>
  <link rel= "stylesheet" href="/resources/profilepage.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src = "myscript.js"> </script>
</head>

<body>

  <div id = "header">
    <div id= "header_text">
      <h1> #Goals </h1>
      <p> <a href= "/"> Main Page </a>
        &nbsp;|&nbsp;
        <a href= "feed"> Feed </a>
        {{signout_link_html}}

    </div>
  </div>

<div id = "bio" >
  <div id="topleft">
    <img class="pic" src="{{photo}}"  width="200" height="240">
  </div>
    <div id="topright">
      <div class="box" >
        <h4> 30 <br> Goals Made </h4>
      </div>
      <div class="box" >
        <h4> 20 <br> Goals Completed</h4>
      </div>
      <div class="box" >
        <h4> <img class="pic" src="/resources/photos/gold.jpg" width="60" height="60"> <br> Goal'd Earned </h4>
      </div>
    </div>
</div>


<div id="content">
    <div id= "left_content">
      <h1>
        Welcome {{username}}
      </h1>

      <h3> Quote </h3>
      <p> {{quote}}  </p>
      <h3> Friends </h3>
      <ul>
        <li> Ryan </li>
        <li> Brenna </li>
        <li> Nick </li>
        <li> Jacob </li>
      </ul>

    </div>

  <div id="right">
    <div class = "post">
      <h3 class="title"> Today </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      </p>
    </div>

    <div class = "post">
      <h3 class="title" > Yesterday </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      </p>
    </div>

    <div class = "post">
      <h3 class="title" > Last Week </h3>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      </p>
    </div>

    </div>
  </div>



</body>
</html>
